
 
.product-details {
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center; 
}
 
.product-details .product-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 10px; 
}
 
.product-color {
    border: 3px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: inline-block; 
    margin: 5px; 
}
 
.quantity-group {
    margin-top: 20px;
    display: inline-block; 
}
 
.quantity-group button {
    padding: 10px;
    border-radius: 5px; 
    background-color: #f0f0f0; 
    color: #004085; 
    border: 1px solid #ddd; 
    cursor: pointer; 
}
 
.quantity-group input {
    padding: 10px;
    width: 50px;
    border-radius: 5px; 
    text-align: center; 
    border: 1px solid #ddd; 
    color: #004085; 
}
 

.quantity-group button:hover {
    background-color: #e9ecef; 
    transition: background-color 0.2s ease; 
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
h6{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
